@page
@model Torneo.App.Frontend.Pages.Partidos.IndexModel
@{
}
<a class="btn btn-outline-dark" asp-page="./Create">Crear partido</a>
<h1>Listado de partidos</h1>
<table class="table table-success table-striped">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Fecha y Hora</th>
            <th scope="col">Equipo local</th>
            <th scope="col">Marcador equipo local</th>
            <th scope="col">Equipo visitante</th>
            <th scope="col">Marcador equipo visitante</th>
            <th scope="col">Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var partido in Model.partidos)
        {
            <tr>
                <th>@partido.Id</th>
                <td>@partido.FechaHora</td>
                <td>@partido.Local.Nombre</td> 
                <td>@partido.MarcadorLocal</td>               
                <td>@partido.Visitante.Nombre</td>
                <td>@partido.MarcadorVisitante</td>                             
                <td>
                    <a class="btn btn-outline-success" asp-page="./Details" asp-route-id="@partido.Id">
                    Detalle
                    </a>        
                    <a class="btn btn-outline-info" asp-page="./Edit" asp-route-id="@partido.Id">
                    Editar
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
