@page
@model Torneo.App.Frontend.Pages.Jugadores.DetailsModel
@{
}
<h1>Detalle del jugador</h1>
<table class="table table-success table-striped">
    <tr>
        <th scope="col">Id</th>
        <td>@Model.jugador.Id</td>
    </tr>
    <tr>
        <th scope="col">Nombre</th>
        <td>@Model.jugador.Nombre</td>
    </tr>
    <tr>
        <th scope="col">Numero</th>
        <td>@Model.jugador.Numero</td>
    </tr>
    <tr>
        <th scope="col">Equipo</th>
        <td>@Model.jugador.Equipo.Nombre</td>
    </tr>
    <tr>
        <th scope="col">Posición</th>
        <td>@Model.jugador.Posicion.Nombre</td>
    </tr>
</table>
<a class="btn btn-outline-warning" asp-page="./Index">Volver</a>